<header>
</header>
<h1 class="titulo-geral">Gráficos por bairro</h1>
<div class="container-geral-graficos">
    <div class="container-bairros">
        <div class="barra-pesquisa">
            <input type="text" class="campo-pesquisa" placeholder="Pesquise um bairro">
        </div>
        <div class="opcoes-bairro">
            <ul class="opcao-bairro">
                <li>Mangabeira</li>
                <li>Valentina</li>
                <li>Bancários</li>
                <li>Jardim Cidade Universitária</li>
                <li>Cristo</li>
                <li>Manaíra</li>
                <li>Crus das Armas</li>
                <li>Brisamar</li>
                <li>Altiplano</li>
                <li>Geisel</li>
                <li>José Américo</li>
                <li>Altiplano</li>
                <li>Miramar</li>
                <li>Bessa</li>
                <li>Cabo Branco</li>
                <li>Bairro das Indústrias</li>
                <li>Cristo</li>
                <li>Castelo Branco</li>
            </ul>
        </div>
    </div>
    <div class="estrutura-graficos">
        <div id="graficos"><h3>Mês X Tipo</h3>
        </div>
        <div id="graficos2"><h3>Bairro X Tipo</h3></div>
        <div id="graficos3"><h3>Status X Tipo</h3></div>
        <div id="graficos4"><h3>Status X Bairro</h3></div>
    </div>
</div>
