<header>
    <link rel="stylesheet" href="~/css/Pages/graficos.css" asp-append-version="true" />
</header>
<div class="container-geral">
    <h1 class="titulo-geral">Gráficos por bairro</h1>
    <div class="container-bairros">
        <div class="barra-pesquisa">
            <input type="text" class="campo-pesquisa" placeholder="Pesquise um bairro">
        </div>
        <div class="opcoes-bairro">
            <ul class="opcao-bairro">
                <li>Bairro A</li>
                <li>Bairro B</li>
                <li>Bairro C</li>
                <li>Bairro C</li>
                <li>Bairro C</li>
                <li>Bairro C</li>
                <li>Bairro C</li>
                <li>Bairro C</li>
                <li>Bairro C</li>
                <li>Bairro C</li>
                <li>Bairro C</li>
            </ul>
        </div>
    </div>
    <div class="graficos">

    </div>
</div>