<header>
</header>
<h1 class="titulo-geral">Gráficos por bairro</h1>
<div class="container-geral-graficos">
    <div class="container-bairros">
        <div class="barra-pesquisa">
            <input type="text" class="campo-pesquisa" placeholder="Pesquise um bairro">
        </div>
        <div class="opcoes-bairro">
            <ul class="opcao-bairro">
                <li>Mangabeira</li>
                <li>Valentina</li>
                <li>Bancários</li>
                <li>Jardim Cidade Universitária</li>
                <li>Cristo Redentor</li>
                <li>Manaíra</li>
                <li>Crus das Armas</li>
                <li>Gramame</li>
                <li>Varjão</li>
            </ul>
        </div>
    </div>
    <div id="graficos">
    </div>
</div>

