* {
    overflow-y: auto;
    overflow-x: hidden;
}

.container-geral-graficos{
    display: flex;
}

.campo-pesquisa {
    width: 247px;
    height: 30px;
    margin: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
    background-color: #ccc;
    transition: border-color 0.2s;
}

.campo-pesquisa:focus {
    border-color: #000000;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.container-bairros {
    color: white;
    background-color: #444;
    width: 18vw;
    height: 91.3vh;
    margin: 0px;
}

.opcao-bairro {
    font-size: 25px;
    list-style: none;
    padding: 20px;
}

.opcao-bairro li {
    background-color: gray;
    border-radius: 10px 0px 0px 10px;
    margin-bottom: 10px;
    padding-left: 8px;
    width: 257px;
}

.container-bairros::-webkit-scrollbar {
    width: 10px;
}

.container-bairros::-webkit-scrollbar-track {
    background-color: #444;
}

.container-bairros::-webkit-scrollbar-thumb {
    background-color: rgb(177, 176, 176);
    border-radius: 10px;
}

