.container {
    width: 100vw;
}

#suas-denuncias {
    background-color: #17171a;
    color: white;
    font-size: 40px;
    padding: 10px;
}

.container-denuncia {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 180px;
    margin-top: 50px;
    background-color: #41434b;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.opcoes-denuncia {
    display: flex;
    margin-bottom: 5px;
}

.opcoes-denuncia h3 {
    margin-right: 10px;
    font-size: 20px;
}

.descricao {
    width: 60%;
    height: 70px;
    margin-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.187);
    border-radius: 5px;
}

.conteudo-denuncia {
    padding-top: 10px;
    padding-left: 20px;
}

.fechar-denuncia {
    width: 150px;
    text-decoration: none;
    background-color: red;
    cursor: pointer;
    padding: 5px;
    border-radius: 10px;
    color: white;
}

.editar-denuncia {
    width: 150px;
    text-decoration: none;
    background-color: rgb(154, 154, 7);
    cursor: pointer;
    padding: 5px;
    border-radius: 10px;
    color: white;
}

.ajuste {
    display: flex;
    flex-direction: column;
}