.container {
    /* padding: 0px !important; */
    /* border: solid 3px red; */
    width: 100vw;
    /* height: 100vh !important; */
}

#suas-denuncias{
    background-color: #4A4C55;
    color: white;
    font-size: 40px;
}
