* {
    overflow-y: hidden;
}

.cadastro-usuario {
    margin: 10px
}

.estrutura-table {
    margin: 10px;
}

.cor-de-fundo-cadastrar {
    height: 590px;
    width: 520px;
    background-color: #17171a;
}

.ajuste-botoes-cadastro button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-left: 153px;
}