<header>
    <link rel="stylesheet" href="~/css/Pages/login.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/iziToast/dist/css/iziToast.min.css" />
</header>

<body>
    <div class="container-geral">
        <div class="container-esquerdo">
            <img class="imagem" src="~/img/Login.png" alt="">
        </div>
        <div class="container-direito">
            <form class="formulario" id="formularioLogin">
                <h1>Login</h1>
                <div class="form-group">
                    <input type="text" name="Apelido" class="form-control" placeholder="Apelido">
                </div>
                <div class="form-group">
                    <input type="password" name="Senha" class="form-control" placeholder="Senha">
                </div>
                <div class="form-group form-check opcoes-form">
                    <input type="checkbox" class="form-check-input" id="remember">
                    <label class="form-check-label" for="remember">Mantenha conectado</label>
                    <a class="esqueci-minha-senha" href="">Esqueci minha senha</a>
                </div>
                <div class="buttons">
                    <button type="button" class="btn btn-primary" onclick="login.logar()">Entrar</button>
                    <button type=" submit" class="btn btn-primary">Criar Conta</button>
                    <button type="submit" class="btn btn-primary">Ver Gráficos </button>
                </div>
            </form>
        </div>
    </div>
</body>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/iziToast/dist/js/iziToast.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/js/Pages/login.js"></script>

<script>
    login.init({
        urls: {
            realizarLogin: '@Url.Action("Entrar", "login")',
            viewHome: '@Url.Action("Index","home")'
        }
    });
</script>
