<header>
    <link rel="stylesheet" href="~/css/Pages/login.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/iziToast/dist/css/iziToast.min.css" />
</header>

<body>
    <div class="container-geral">
        <div class="container-esquerdo">
            <img class="imagem" src="~/img/Login.png" alt="">
        </div>
        <div class="container-direito">
            <form class="formulario">
                <h1>Login</h1>
                <div class="form-group">
                    <label for="email">CPF</label>
                    <input type="email" class="form-control" id="email" placeholder="Digite seu CPF">
                </div>
                <div class="form-group">
                    <label for="password">Senha</label>
                    <input type="password" class="form-control" id="password" placeholder="Digite sua senha">
                </div>
                <div class="form-group form-check opcoes-form">
                    <input type="checkbox" class="form-check-input" id="remember">
                    <label class="form-check-label" for="remember">Mantenha conectado</label>
                    <a class="esqueci-minha-senha" href="">Esqueci minha senha</a>
                </div>
                <div class="buttons">
                    <button type="submit" class="btn btn-primary">Entrar</button>
                    <button type="submit" class="btn btn-primary">Criar Conta</button>
                    <button type="submit" class="btn btn-primary">Ver Gráficos </button>
                </div>
            </form>
        </div>
    </div>
</body>