<header>
    <link rel="stylesheet" href="~/css/Pages/telaInicial.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/js/bootstrap.min.js" />
</header>

<body>

</body>