<header>
    <link rel="stylesheet" href="~/css/Pages/home.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/iziToast/dist/css/iziToast.min.css" />
</header>

<section class="container-geral">
    <h1>Suas Denuncias:</h1>
</section>