body {
  height: 100vh;
  width: 100vw;
}

#main {
  height: 100vh;
  width: 100vw;
  display: flex;
}

#corpo {
  max-height: 100%;
  /* max-width: 82.5%; */
  width: 90vw;
  overflow-y: auto;
  overflow-x: hidden;
  margin-left: 265px;
  background-color: gray;
}

.container-geral {}

.barra-lateral {
  position: absolute;
  background-color: #17171a;
  width: 18vw;
  height: 100vh;
}

/* código referente ao menu lateral */

.titulo {
  color: white;
  font-size: 45px;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  margin-left: 20px;
  color: rgba(0, 89, 255, 0.62);
}

.titulo:hover {
  color: white;
  font-size: 45px;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  margin-left: 20px;
  color: rgba(0, 89, 255, 0.62);
}

.opcoes {
  list-style: none;
  font-size: 18px;
  width: 266px;
  font-family: 'Montserrat', sans-serif;
  padding: 0px;
  padding-top: 20px;
}

.opcao-menu {
  color: white;
  text-decoration: none;
}

.opcoes-lista {
  text-align: left;
  margin-top: 20px;
  margin-left: 15px;
}

.opcoes-lista:hover {
  background-color: #242323;
  width: 250px;
  /* height: 30px; */
  /* padding: 10px; */
}

.opcao-menu {
  display: flex;
}

.opcao-menu span {
  margin-right: 10px;
}

.bem-vindo {
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 20px;
  padding: 30px 0px 0px 20px;
}