body {
  height: 100vh;
  width: 100vw;
}

#main {
  height: 100vh;
  width: 100vw;
  display: flex;
}

#corpo {
  max-height: 100%;
  /* max-width: 82.5%; */
  width: 82.5%;
  overflow-y: auto;
  overflow-x: hidden;
}

.header {
  border: solid orange;
}

.conteudo-geral {
  background-color: red;
}

.barra-lateral {
  background-color: #4A4C55;
  width: 15vw;
  height: 100vh;
}