@model Usuario

@{
    Layout = null;
}

<div class="container-cadastrar">
    <div class="text-center">
        <h1 class="display-4">Cadastrar Usuário</h1>
    </div>
    <form id="cadastroUsuario">
        <div class="form-group">
            <input asp-for="nome_completo" type="text" class="form-control" placeholder="Nome">
        </div>
        <div class="form-group">
            <input asp-for="apelido" type="text" class="form-control" placeholder="Apelido">
        </div>
        <div class="form-group">
            <input asp-for="email" type="email" class="form-control" placeholder="Email">
        </div>
        <div class="form-group">
            <select asp-for="perfil" class="form-control" placeholder="perfil">
                <option value="0">Selecione</option>
                <option value="@Core.Enum.PerfilEnum.Admin">Administrador</option>
                <option value="@Core.Enum.PerfilEnum.Padrao">Padrão</option>
            </select>
        </div>
        <div class="form-group">
            <input asp-for="senha" type="text" class="form-control" placeholder="Senha">
        </div>
        <button type="button" class="btn btn-primary" onclick="usuario.cadastrarUsuario()">Adicionar</button>
        <a asp-controller="Usuario" asp-action="Index">Voltar</a>
    </form>
</div>
