@model List<Categoria>

@* @{
var categorias = ViewBag.BuscarCategorias;
var subcategorias = ViewBag.BuscarSubcategorias;
} *@

<head>
    <link rel="stylesheet" href="~/css/Pages/denuncia.css" asp-append-version="true" />
</head>

<div class="container-geral">
    <h1 class="titulo-geral ">Realize uma Denuncia</h1>
</div>

<div class="container-cadastrar">
    <h1 class="titulo-form">Realize uma Denúncia</h1>
    <div class="cor-de-fundo">
        <div class="container mt-5">
            <form>
                <div class="row">
                    <div class="mb-3 col-md-6">
                        <label for="dataNascimento" class="form-label">Data</label>
                        <input type="date" class="form-control" id="dataNascimento" name="dataNascimento" required>
                    </div>
                    <div class="mb-3 col-md-6">
                        <label for="tipoUsuario" class="form-label">Bairro</label>
                        <select class="form-select drop-down" id="tipoUsuario" name="tipoUsuario" style="width: 100%;">
                            <option value="">Nome</option>
                        </select>
                    </div>
                    <div class="mb-3 col-md-6">
                        <label for="tipoUsuario" class="form-label">Categoria Denuncia</label>
                        <select id="categorias" class="form-select drop-down" id="tipoUsuario" name="tipoUsuario"
                            style="width: 100%;">
                            @if (Model != null && Model.Any())
                            {
                                @foreach (var categoria in Model)
                                {
                                    @if (categoria.IdCategoriaPai == null)
                                    {
                                        <option>@categoria.Nome</option>
                                    }
                                }
                            }
                            else
                            {
                                <h1>Nenhum dado encontrado!</h1>
                            }
                        </select>
                    </div>
                    <div class="mb-3 col-md-6">
                        <label for="tipoUsuario" class="form-label">Subcategoria Denuncia</label>
                        <select id="subcategorias" class="form-select drop-down" id="tipoUsuario" name="tipoUsuario"
                            style="width: 100%;">
                            @if (Model != null && Model.Any())
                            {
                                @foreach (var subcategoria in Model)
                                {
                                    @if (subcategoria.IdCategoriaPai != null)
                                    {
                                        <option>@subcategoria.Nome</option>
                                    }
                                }
                            }
                            else
                            {
                                <h1>Nenhum dado encontrado!</h1>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="exampleTextarea">Descrição</label>
                        <textarea class="form-control" rows="8"></textarea>
                    </div>
                </div>
                <div class="ajuste-botoes">
                    <button type="submit" class="btn btn-dark botao-denunciar">Denunciar</button>
                    <a class="btn btn-dark" asp-controller="Usuario" asp-action="Index">Voltar</a>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/iziToast/dist/js/iziToast.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/js/Pages/denuncia.js"></script>